@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link:hover {
    color: #54f40a;
     transition: all .4s;
}

.nav-link::after {
    position: absolute;
    content: "";
    background-color: #49C70D;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all .4s;

}

.nav-link:hover:after {
    scale: 1;
}