@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link:hover {
    color: #54f40a;
     transition: all .4s;
}

.nav-link::after {
    position: absolute;
    content: "";
    background-color: #49C70D;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all .4s;

}

.nav-link:hover:after {
    scale: 1;
}

.hero {
    background-image: url("../../public/Component\ 4.png");
    background-size: cover;
}

.gallery {
    background-image: url("../../public/image\ 6\ \(1\).png");
    background-size: cover;
}

.project {
    background-image: url("../../public/Group\ 7615.png");
    background-size: contain;
    background-repeat: repeat;
}

.service {
    background-image: url("../../public/Rectangle\ 2922.png");
    background-size: cover;
    background-position: bottom;
}
